# Production release profile. UART plaintext encryption/decryption is disabled.
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_RELEASE=y
CONFIG_SECURE_FLASH_ENCRYPT_ONLY_IMAGE_LEN_IN_APP_PART=y
CONFIG_SECURE_FLASH_CHECK_ENC_EN_IN_APP=y
CONFIG_SECURE_ROM_DL_MODE_ENABLED=y
CONFIG_SECURE_ENABLE_SECURE_ROM_DL_MODE=y
# CONFIG_SECURE_BOOT_INSECURE is not set
# CONFIG_SECURE_BOOT_ALLOW_JTAG is not set
# CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_ENC is not set
# CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_DEC is not set
# CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_CACHE is not set
